body {
  margin: 0;
  padding: 0;
  background-color: #a6f6f1;
  font-family: 'Poppins', Arial;
  color: #213e3b;
  font-size: 1em;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 160ms ease-in-out;
  transition: all 160ms ease-in-out;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.navbar a.hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ffabe1;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar a.hover:hover:before {
  visibility: visible;
  width: 100%;
}

.navbar .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #ffabe1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
}

.navbar .links {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.navbar .nav-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-socials {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-socials svg {
  padding-top: 4px;
  padding-left: 1em;
  width: 24px;
  height: 24px;
  fill: #213e3b;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar .nav-socials svg:hover {
  fill: #ffabe1;
}

.navbar .hamburger {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-column-align: right;
      justify-self: right;
  display: none;
  cursor: pointer;
}

.navbar .hamburger div {
  width: 25px;
  height: 5px;
  background-color: #213e3b;
  margin: 2px;
}

nav.scrolled {
  -webkit-box-shadow: 0px 1px 8px #212121;
          box-shadow: 0px 1px 8px #212121;
  background-color: #213e3b;
}

nav.scrolled a {
  color: #a6f6f1;
}

nav.scrolled .nav-socials svg {
  fill: #a6f6f1;
}

nav.scrolled .hamburger div {
  background-color: #a6f6f1;
}

#to-the-top-btn {
  visibility: hidden;
  background-color: #213e3b;
  border-radius: 50%;
  position: fixed;
  bottom: .75em;
  right: .75em;
  text-align: center;
  width: 3em;
  height: 3em;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#to-the-top-btn img {
  padding-top: .75em;
  width: 20px;
  height: 20px;
}

#to-the-top-btn.show {
  opacity: 0.8;
  visibility: visible;
}

#to-the-top-btn.show:hover {
  opacity: 1;
}

.page {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  text-align: center;
  color: #ffabe1;
  margin: 0;
  letter-spacing: 2px;
  font-size: 4em;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-container .hero {
  margin: 0;
  letter-spacing: 2px;
  font-size: 3em;
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1rem;
}

.landing-container .hero h1 {
  margin: 0;
}

.landing-container .hero .highligth {
  color: #ffabe1;
}

.landing-container .portrait-container {
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 1rem;
}

.landing-container .portrait-container img {
  height: 100%;
  border: 2px solid #ffabe1;
  -webkit-box-shadow: 0px 3px 6px #213e3b;
          box-shadow: 0px 3px 6px #213e3b;
  border-radius: 0.25em;
}

.me .bio {
  padding: 0 20%;
  font-size: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50em;
}

.skills-container .skills-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
  border: 2px solid #213e3b;
  background: #a6f6f1;
  padding: 2em;
  border-radius: .25em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container .skills-details h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-container .skills-details .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-container .skills-details .skills-list .skill-tag {
  cursor: default;
  float: left;
  text-transform: uppercase;
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border: 2px solid #213e3b;
  border-radius: 0.25em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skills-container .skills-details .skills-list .skill-tag:hover {
  background: #213e3b;
  color: #a6f6f1;
}

.contact {
  height: 80vh;
}

.contact .flash {
  padding: 0;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.25em;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  margin-bottom: 3vh;
}

.contact .error {
  padding: 0;
  color: #213e3b;
  outline: none;
  border-radius: 0.25em;
}

.contact .contact-container {
  margin: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4em;
}

.contact .form {
  max-width: 30em;
}

.contact .form #name {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.contact .form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  height: 3em;
  background: inherit;
  outline: none;
  color: #213e3b;
  border: solid 2px #213e3b;
  border-bottom: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .form input:hover {
  background: #213e3b;
  color: #ffabe1;
}

.contact .form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  height: 10em;
  width: 100%;
  max-height: 10em;
  background: transparent;
  outline: none;
  color: #213e3b;
  border: solid 2px #213e3b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.contact .form textarea:hover {
  background: #213e3b;
  color: #ffabe1;
}

.contact .form #submit {
  width: 100%;
  padding: 0;
  color: #213e3b;
  outline: none;
  cursor: pointer;
  border: solid 2px #213e3b;
  border-radius: 0.25em;
}

.contact .form #submit:hover {
  background-color: #ffabe1;
}

.contact .contact-info {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .landing-container .hero {
    font-size: 2.5em;
  }
  .landing-container .portrait-container {
    height: 250px;
  }
  .me .bio {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    -ms-grid-rows: 7vh auto auto;
        grid-template-rows: 7vh auto auto;
  }
  .navbar .links {
    width: 100%;
    border: 2px solid #213e3b;
    background-color: #a6f6f1;
    -ms-grid-column-align: right;
        justify-self: right;
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-right: calc(100vh * 0.05);
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .navbar .links-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .navbar .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .navbar .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar .nav-links li {
    padding: 0.25em 0;
  }
  .navbar .nav-socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 0.25em;
  }
  .navbar .nav-socials li {
    padding: 0.25em 0;
  }
  .navbar .hamburger {
    display: block;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: right;
        justify-self: right;
    padding-right: calc(100vh*0.05);
  }
  .navbar .hamburger div {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .navbar .hamburger-active :nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
  }
  .navbar .hamburger-active :nth-child(2) {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  .navbar .hamburger-active :nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
            transform: rotate(45deg) translate(-5px, -5px);
  }
  nav.scrolled {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav.scrolled .links {
    background-color: #213e3b;
    -webkit-box-shadow: 0px 1px 8px -2px #212121;
            box-shadow: 0px 1px 8px -2px #212121;
  }
  nav.scrolled .hamburger div {
    background-color: #a6f6f1;
  }
  .landing-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-container .hero {
    text-align: center;
    font-size: 2em;
  }
}

@media only screen and (max-width: 425px) {
  #to-the-top-btn {
    width: 2em;
    height: 2em;
  }
  #to-the-top-btn img {
    padding-top: 0.495em;
    width: 13px;
    height: 13px;
  }
  .me .bio {
    padding: 0 5%;
    font-size: 1.2em;
    text-align: left;
  }
  .title {
    font-size: 2em;
  }
  .skills-details {
    margin: 2%;
    padding: 2%;
  }
  .skills-details .skills-list {
    float: center;
  }
  .contact .flash {
    font-size: 1.2em;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */