$dark: #213e3b; 
$ligth: #a6f6f1;
$pink: #ffabe1;

body {
    margin: 0;
    padding: 0;
    background-color: $ligth;
    font-family: 'Poppins', Arial;
    color: $dark;
    font-size: 1em;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    justify-content: space-around;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 7vh;
    align-items: center;
    transition: all 160ms ease-in-out;

    a {
        position: relative;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }
    
    a.hover:before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $pink;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    a.hover:hover:before {
        visibility: visible;
        width: 100%;
    }

    .logo{
        grid-column: 2/3;
        color: $pink;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 28px;
    }

    .links {
        grid-column: 3/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav-links {
        justify-content: space-around;
        align-items: center;
    }

    .nav-socials {
        justify-content: flex-end;
        align-items: center;
    
        svg {
            padding-top: 4px;
            padding-left: 1em;
            width: 24px;
            height: 24px;
            fill: $dark;
            transition: 0.3s ease-in-out;
    
            &:hover {
                fill: $pink;
            }
        }
    }

    .hamburger {
        grid-column: 4/5;
        justify-self: right;
        display: none;
        cursor: pointer;

        div{
            width: 25px;
            height: 5px;
            background-color: $dark;
            margin: 2px;
        }
    }
}


nav.scrolled {
    box-shadow: 0px 1px 8px #212121;
    background-color: $dark;

    a {
        color: $ligth;
    }

    .nav-socials {
        
        svg {
            fill: $ligth;
        }
    }

    .hamburger div{
        background-color: $ligth;
    }
}

#to-the-top-btn {
    visibility: hidden;
    background-color: $dark;
    border-radius: 50%;
    position: fixed;
    bottom: .75em;
    right: .75em;
    text-align: center;
    width: 3em;
    height: 3em;
    opacity: 0;
    transition: 0.3s ease-in-out;

    img {
        padding-top: .75em;
        width: 20px;
        height: 20px;
    }
}

#to-the-top-btn.show {
    opacity: 0.8;
    visibility: visible;

    &:hover {
        opacity: 1;
    }
}

.page {
    height: 100vh;
    justify-content: center;
    align-content: center;
    display: flex;
}

.title {
        text-align: center;
        color: $pink;
        margin: 0;                
        letter-spacing: 2px;
        font-size: 4em;
}

.landing-container {
    display: flex;
    justify-content: center;

    .hero {
        margin: 0;          
        letter-spacing: 2px;
        font-size: 3em;
        text-align: right;
        align-self: center;
        justify-content: center;
        padding-right: 1rem;
    
        h1 {
            margin: 0;
        }
        .highligth {
            color: $pink;
        }
    }

    .portrait-container {
        height: 300px;
        align-self: center;
        padding-left: 1rem;
    
        img {
            height: 100%;
            border: 2px solid $pink;
            box-shadow: 0px 3px 6px $dark;
            border-radius: 0.25em;
        }
    }
    
}

.me {

    .bio {
        padding: 0 20%;
        font-size: 2em;
        align-self: center;
    }
}


.skills-container {
    align-self: center;
    justify-content: center;
    width: 50em;

    .skills-details{
        display: flex;
        flex-direction: column;
        margin: 2em;
        border: 2px solid $dark;
        background: $ligth;
        padding: 2em;
        border-radius: .25em;
        align-items: center;
    
        h1 {
            justify-content: center;
        }

        .skills-list {
            display: flex;
            margin: 0;
            flex-wrap: wrap;
        
            .skill-tag {
                cursor: default;
                float: left;
                text-transform: uppercase;
                margin: 0.25em;
                padding: 0.25em 0.5em;
                border: 2px solid $dark;
                border-radius: 0.25em;
                transition: all 0.3s ease-in-out;
            }
        
            .skill-tag:hover {
                background: $dark;
                color: $ligth;
            }
        }
    }
}

.contact {
    height: 80vh;

    .flash {
        padding: 0;
        font-size: 2em;
        display: flex;
        border-radius: 0.25em;
        align-content: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        margin-bottom: 3vh;
    }

    .error {
        padding: 0;
        color: $dark;
        outline:none;
        border-radius: 0.25em;
    }

    .contact-container {
        margin: 0 10%;
        justify-content: center;
        align-items: center;
        padding-bottom: 4em;
    }

    .form {
        max-width: 30em;
    
        #name {
            border-top-left-radius: 0.25em;
            border-top-right-radius: 0.25em;
        }
    
        input {
            box-sizing: border-box;
            font-size: inherit;
            font-family: inherit;
            width: 100%;
            height: 3em;
            background: inherit;
            outline: none;
            color: $dark;
            border: solid 2px $dark;
            border-bottom: none;
            transition: all 0.3s ease-in-out;
        }
        
        input:hover {
            background: $dark;
            color: $pink;
        }
        
        textarea {
            box-sizing: border-box;
            font-family: inherit;
            font-size: inherit;
            resize: none;
            height: 10em;
            width: 100%;
            max-height: 10em;
            background: transparent;
            outline: none;
            color: $dark;
            border: solid 2px $dark;
            transition: all 0.3s ease-in-out;
            border-bottom-left-radius: 0.25em;
            border-bottom-right-radius: 0.25em;
        }
        
        textarea:hover {
            background: $dark;
            color: $pink;
        }
        
        #submit {
            width: 100%;
            padding: 0;
            color: $dark;
            outline:none;
            cursor: pointer;
            border: solid 2px $dark;
            border-radius: 0.25em;
        }
        
        #submit:hover {
            background-color: $pink;
        }
    }

    .contact-info {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

    .landing-container {
        
        .hero {
            font-size: 2.5em;
        }

        .portrait-container {
            height: 250px;
        }
    }

    .me {
        
        .bio {
            padding: 0 10%;
        }
    }
} 

@media only screen and (max-width: 600px) {

    .navbar {   
        grid-template-rows: 7vh auto auto;

        .links {
            width: 100%;
            border: 2px solid $dark;
            background-color: $ligth;
            justify-self: right;
            position: relative;
            grid-column: 1/6;
            grid-template-columns: 1fr;
            padding-right: calc(100vh * 0.05);
            transform: translateX(110%);
            transition: transform 0.5s ease-in;
        }
        
        .links-active {
            transform: translateX(0%);
        }

        .logo {
            grid-column: 2/4;
        }

        .nav-links {
            flex-direction: column;
            align-items: flex-end;

            li {
                padding: 0.25em 0;
            }
        }

        .nav-socials {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            padding-bottom: 0.25em;

            li {
                padding: 0.25em 0;
            }
        }
        
        .hamburger {
            display: block;
            grid-column: 4/6;
            grid-row: 1/2;
            justify-self: right;
            padding-right: calc(100vh*0.05);
            
            div {
                transition: all 0.4s ease-in;
            }
        }

        .hamburger-active {
            :nth-child(1) {
                transform: rotate(-45deg) translate(-5px, 5px);
            }
            :nth-child(2) {
                transform: translateX(20px);
                opacity: 0;
            }
            :nth-child(3) {
                transform: rotate(45deg) translate(-5px, -5px);
            }
        }
    }
    
    nav.scrolled {
        box-shadow: none;
        
        .links {
            background-color: $dark;
            box-shadow: 0px 1px 8px -2px #212121;
        }

        .hamburger div{
            background-color: $ligth;
        }
    }

    .landing-container {
        flex-direction: column;

        .hero {
            text-align: center;
            font-size: 2em;
        }
    }
}

@media only screen and (max-width: 425px) {
    
    #to-the-top-btn {
        width: 2em;
        height: 2em;

        img {
            padding-top: 0.495em;
            width: 13px;
            height: 13px;
        }
    }
   
    .me {
        
        .bio {
            padding: 0 5%;
            font-size: 1.2em;
            text-align: left;
        }
    }
   
    .title {
        font-size: 2em;
    }

    .skills-details {
        margin: 2%;
        padding: 2%;

        .skills-list {
            float: center;
        }
    }

    .contact .flash {
        font-size: 1.2em;
        text-align: center;
    }
}