<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../src/assets/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Trispace:wght@300;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Leevi Ossi</title>
</head>

 <body>
    <nav id="navBar" class="navbar">
        <div class="logo">
            <a href="#landing" class="logo">Leevi Ossi</a>
        </div>
        <div class="links" id="links">
            <ul class="nav-links">
                <li><a class="hover" href="#bio">Me</a></li>
                <li><a class="hover" href="#skills">Skills</a></li>
                <li><a class="hover" href="#contact">Contact</a></li>
            </ul>
            <ul class="nav-socials">
                <li><a class="hover" href="#">suomeksi</a></li>
                <a href="https://github.com/SirOswald" target="_blank" rel="noopener norefferer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
            </ul>
        </div>
        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
    <a href="#landing" id="to-the-top-btn"><img src="../static/up.svg" alt="up"></a>

    <section class="page landing" id="landing">
        <div class="landing-container">
            <div class="hero">  
                <h1>Aspiring</h1>
                <h1 class="highligth">Web</h1>
                <h1>Developer</h1>
            </div>
            <div class="portrait-container">
                <img src="../static/img/leevi-2.jpg" alt="Leevi Ossi">
            </div>
        </div>
    </section>

    <section class="page me" id="bio">
        <div class="bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro voluptatum sed temporibus provident rerum laborum voluptates repudiandae quos vel, laudantium suscipit dolor quas aspernatur officia iste, dolorum id ipsam? Impedit dolore maiores voluptate molestias? Facilis quisquam ut soluta quis.</p>
        </div>
    </section>

    <section class="page skills" id="skills">
        <div class="skills-container">
            <div class="skills-details">
                <h1 class="title">My Skills</h1>
                <div class="skills-box">
                    <div class="skills-list">
                        {% for skill in skills %}
                            <span class="skill-tag">
                                {{skill}}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page contact" id="contact">
        <div class="contact-container">
            <h1 class="title">Contact Me</h1>
            {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <form  action="#contact" method="POST" autocomplete="off" class="form">
                

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{category}}">{{ message }}</div>
                    {% endfor %}
                {% endwith %}

                {{ form.hidden_tag() }}
                
                {{ form.name(placeholder='NAME') }}

                {{ form.email(placeholder='EMAIL') }}
                
                {{ form.message(placeholder='MESSAGE') }}

                {{ form.submit }}
            </form>
            <div class="contact-info">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                    </svg>
                    leevi.ossi@gmail.com
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    +358 407603021
                </p>
            </div>
        </div>
    </section>

    <script>
        var navBar = document.getElementById('navBar')
        window.onscroll = function() {
            if(window.scrollY > 42){
                navBar.classList.add('scrolled');
            }else{
                navBar.classList.remove('scrolled');
            }
        };
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
        
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
        
              // Store hash
              var hash = this.hash;
        
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
        </script>

        <script>
            var btn = $('#to-the-top-btn');

            $(window).scroll(function() {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
            });
        </script>

        <script>
            var links = document.getElementById('links')
            var hamburger = document.getElementById('hamburger')
            hamburger.addEventListener('click', () => {
                links.classList.toggle('links-active')
                hamburger.classList.toggle('hamburger-active')
            })
        </script>
</body>
</html>