<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Trispace:wght@300;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Leevi Ossi</title>
</head>

 <body>
    <nav id="navBar">
        <div class="logo">
            <a href="#landing" class="logo">Leevi Ossi</a>
        </div>
        <ul class="nav-links">
            <li><a class="hover" href="#bio">Me</a></li>
            <li><a class="hover" href="#skills">Skills</a></li>
            <li><a class="hover" href="#contact">Contact</a></li>
        </ul>
        <ul class="nav-socials">
            <li><a class="hover" href="#">suomeksi</a></li>
            <a href="https://github.com/SirOswald" target="_blank" rel="noopener norefferer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
        </ul>
    </nav>
    <a href="#landing" id="to-the-top-btn"><img src="../static/up.svg" alt="up"></a>

    <section class="page landing" id="landing">
        <div class="details">
            <h1 class="hero">Aspiring</h1>
            <h1 class="hero">Web</h1>
            <h1 class="hero">Developer</h1>
            <p>I'n need of a website?</p>
            <a class="button" href="#">Let's talk 🤙 </a>
        </div>
        <div class="portrait-container">
            <img src="../static/img/leevi-2.jpg" alt="Leevi Ossi">
        </div>
    </section>

    <section class="page me" id="bio">
        <div class="bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro voluptatum sed temporibus provident rerum laborum voluptates repudiandae quos vel, laudantium suscipit dolor quas aspernatur officia iste, dolorum id ipsam? Impedit dolore maiores voluptate molestias? Facilis quisquam ut soluta quis.</p>
        </div>
    </section>
    <section class="skills" id="skills">
        <div class="skills-container">
            <div class="skill">
                <div class="icon-container">
                    <img class="icon" src="../static/dev.svg" alt="development">
                </div>
                <p class="subtitle">Development</p>
                <p>
                    Python, Java, HTML, CSS, Sass, Javascript,
                    Flask, Django, Bootstrap.
                </p>
            </div>
            <div class="skill">
                <div class="icon-container">
                    <img class="icon" src="../static/server.svg" alt="server">
                </div>
                <p class="subtitle">Networks and security</p>
                <p>
                    Understanding of basic networking protocols, routing and switching protocols, firewall operations,
                    Virtualization, storage systems (NAS, NFS, SMB), basic understanding of penetration testing, different Linux distros
                    (Ubuntu, Debian, Kali). Not afraid of the command line!
                </p>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="flash flash-{{category}}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
        <div class="contact-container">
            <div class="title">CONTACT ME</div>
            {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <form  action="#contact" method="POST" autocomplete="off" class="form">
                {{ form.hidden_tag() }}
                
                {{ form.name(placeholder='NAME') }}

                {{ form.email(placeholder='EMAIL') }}
                
                {{ form.message(placeholder='MESSAGE') }}

                {{ form.submit }}
            </form>
            <div class="contact-info">
                <p>leevi.ossi@hotmail.com</p>
                <p>+358 407603021</p>
            </div>
        </div>
    </section>

    <script>
        var navBar = document.getElementById('navBar')
        window.onscroll = function() {
            if(window.scrollY > 42){
                navBar.classList.add('scrolled');
            }else{
                navBar.classList.remove('scrolled');
            }
        };
    </script>
    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
        
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
        
              // Store hash
              var hash = this.hash;
        
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
        </script>
        <script>
            var btn = $('#to-the-top-btn');

            $(window).scroll(function() {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
            });
        </script>
</body>
</html>